{
  "arc": {
    "topChrome": 42,
    "leftChrome": 317,
    "calibratedAt": "2026-01-01T00:00:00Z",
    "chromeHeightDeltaAtCalibration": 52,
    "chromeWidthDeltaAtCalibration": 327,
    "outerHAtCalibration": 1100,
    "innerHAtCalibration": 1048,
    "outerWAtCalibration": 1800,
    "innerWAtCalibration": 1473,
    "displayIndexAtCalibration": 0,
    "backingScaleAtCalibration": 1,
    "fullScreenAtCalibration": false
  }
}
